body {
    background: url(https://files.slack.com/files-pri/T018RA60CNP-F01B1RFE933/ignasi_pattern_s.png)
  }
  
  .navbar {
    padding: 0.75rem 2rem;
  }
  
  .form-group {
    margin-bottom: 2rem;
    margin-left: 2rem;
}

  .navbar-brand {
    background: #4aaaa5;
    padding: 1px;
    font-family: "Abril Fatface", cursive;
    font-size: 25px;
  }
  
  .nav-item {
    font-size: 16px;
  }
  
  .navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
  }
  
  .navbar-light .navbar-nav .active >,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: rgb(255, 255, 255);
  }
  
  .style1{
    height: 720px;
    padding: -1px;
    font-size: 30px;
    background-color: rgb(255, 255, 255);
    font-family: "Abril Fatface", cursive;
    color: #4aaaa5;
    font-weight: 100;
  }
  
  .solid {
    border-top: 2px solid rgb(214, 214, 214);
  }
  
    p{
       font-size: 16px;
       float:right;
       color: gray;
       margin-left: 248px;
   }

   .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin: 20px;
   }

   label{
    color: rgb(79, 79, 79);
    font-family: 'Roboto', sans-serif;
    font-size:23px;
   }

   ::placeholder{
    color: rgb(160, 160, 160);
    font-family: 'Roboto', sans-serif;
    font-size:23px;
   }

   .btn-primary{
       background-color:#4aaaa5;
       border-color:#4aaaa5;
       font-family: 'Roboto', sans-serif;
   }

   .btn-group-lg>.btn, .btn-lg {
    padding: 1.5rem 3rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0rem;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}

.btn-primary:hover {
    color: #fff;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}